@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.header {
    display: flex;
}
.header .left-links {
    margin-right: auto;
    display: flex;
    gap: 40px;
}
.header .right-links {
    display: flex;
    gap: 40px;
    margin-right: 40px;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
.content {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   flex-grow: 1;
   margin-bottom: 180px;
}
.footer {
    display: flex;
    margin-top: auto;
    background-color: #eeeeee;
}
.footer .left-links {
    display: flex;
    gap: 40px;
    margin-right: auto;
}
.footer .right-links {
    display: flex;
    gap: 40px;
    margin-right: 40px;
}
img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}