@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
}
.header {
    display: flex;
}
.header .left-links {
    margin-right: auto;
    display: flex;
    gap: 40px;
}
.header .right-links {
    display: flex;
    gap: 40px;
    margin-right: 40px;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}